# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
.venv/

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/